
<body>
<div class="row">
  <div class="col-lg-5">
    <div class="span">
      <img src="../../../assets/images/img2.png" class="img" alt="property" >
    </div>
  </div>
  <div class="col-lg-7">
    <div class="form-holder">
      <div class="form-content">
        <div class="form-items">
          <h3>Welcome to Property Management</h3>
          <ngb-tabset  type="pills">
            <ngb-tab title="Manager">
              <ng-template ngbTabContent>
                <br>
                <app-login loginType='manager'></app-login>

                </ng-template>
            </ngb-tab>
            <ngb-tab title="CompanyOwner">
              <ng-template ngbTabContent>
                <br>
                <ngb-tabset>
                  <ngb-tab title="Login" id="lgin">
                    <ng-template ngbTabContent>
                    <app-login loginType='companyOwner'></app-login>
                    </ng-template>
                  </ngb-tab>
                  <ngb-tab title="Register">
                    <ng-template ngbTabContent>
                   <app-register></app-register>
                    </ng-template>
                  </ngb-tab>
                </ngb-tabset>


              </ng-template>
            </ngb-tab>

          </ngb-tabset>

        </div>
      </div>
    </div>
  </div>
</div>


</body>



